
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2 style="color:rebeccapurple">Không có sản phẩm hay hãy sản phẩm<br />Vui lòng tìm kiếm lại hoặc kích <a href="/"> vào đây</a> để xem những sản phẩm khác</h2>
<hr />


