@using ProjectLibrary.Database
@using Template_WatchShop.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Watchshop watchshop = CommentController.DetailShop();
    Menu menu = ViewBag.Menu ?? new Menu();

}


<main class="main">


    <section class="attack">
        <div class="container">
            <div class="row attack-row">
                <div class="col-sm-4">
                    <div class="attack-row__wrap">
                        <span class="icon">
                            <i class="far fa-map-marked-alt"></i>
                        </span>
                        <h3 class="title">
                            Địa chỉ cửa hàng
                        </h3>
                        <div class="content">
                            @watchshop.Address
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="attack-row__wrap">
                        <span class="icon">
                            <i class="far fa-envelope-open-text"></i>
                        </span>
                        <h3 class="title">
                            Gọi chúng tôi 24/7
                        </h3>
                        <div class="content">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="attack-row__wrap">
                        <span class="icon">
                            <i class="far fa-envelope-open-text"></i>
                        </span>
                        <h3 class="title">
                            Email cửa hàng 
                        </h3>
                        <div class="content">
                            @watchshop.Email
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="contact-form">
        <div class="container">
            <div class="box-meta-form">
              
                <div class="description">
                    BẠN CÓ THỂ LIÊN HỆ VỚI CHÚNG TÔI ĐỂ ĐẶT CÂU HỎI, TRẢ LỜI CÂU HỎI ĐẶT HÀNG
                </div>
            </div>
            <div class="box-form">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form action="/Contact/SubmitContact" method="post" id="contact-form">
                        <div class="contact_form">
                            <input type="hidden" name="ID" >

                            <div style="display:flex">
                                <div class="col-md-4">
                                    <input type="text" name="FullName" class="form-control" placeholder="Họ tên" required>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="Tel" class="form-control" placeholder="Điện thoại" required>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" name="Email" class="form-control" placeholder="Email " required>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <textarea class="form-control" name="Request" id="mess_contact" rows="10" placeholder="Yêu cầu" required></textarea>
                            </div>
                            <br />
                            <div class="submit_message">
                                <button class="submit_form">
                                    Gửi liên hệ
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </section>
    
   

</main>

@section script{
    <script src="~/Plugins/Validate/jquery-validation-1.13.1/jquery.validate.min.js"></script>
    <script src="~/Plugins/Validate/jquery-validation-1.13.1/additional-methods.min.js"></script>

    <script type="text/javascript">

        //jQuery(document).ready(function () {
        //    jQuery("#contactform").validate();
        //});
        $("#wraploadding").hide();

        function LoadingSendEmail() {
            $("#wraploadding").show();
            $("#wraploadding").css("width", $(window).width());
            $("#wraploadding").css("height", $(window).height());
            $("#imgloadding ").css("top", ($(window).height() / 2) - 80);
        }
        //validate
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#contact-form").validate({
            rules: {
                'Request': {
                    required: true,
                },
                'FullName': {
                    required: true,
                },
                'Email': {
                    required: true,
                    email: true
                },
                'Tel': {
                    required: true,
                }
            },
            messages: {
                'FullName': "Please enter Full Name",
                'Request': "Please enter Request",
                'Email': "Please enter Email Adress",
                'Tel': "Please enter Phone Number",
            },
            submitHandler: function (form) {
                form.submit();
                LoadingSendEmail();
            }
        });

    </script>

}