
@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3>Chính sách vận chuyển</h3>
<div class="noidung">
    <p><span style="font-size:small"><span style="font-family:arial">Ngay sau khi đơn hàng được gửi đến, chúng tôi sẽ gửi thư (hoặc gọi điện) xác nhận rằng hàng hóa của Quý khách đang được chuyển đi. Hàng sẽ đến tận tay Quý khách trong vòng từ 1 đến 5 ngày (trừ ngày lễ và chủ nhật).</span></span></p>

    <p><span style="font-size:small"><span style="font-family:arial">- Phí vận chuyển: Khách hàng được <strong>MIỄN PHÍ </strong>vận chuyển trên <strong>Toàn quốc</strong>.</span></span></p>

    <h2><span style="font-size:small"><span style="font-family:arial">- Thời gian xử lý đơn hàng:</span></span></h2>

    <p style="margin-left:.5in"><span style="font-size:small"><span style="font-family:arial">+ Đơn đặt hàng từ 8h30 đến 17h30 thì chúng tôi sẽ liên hệ trong ngày.</span></span></p>

    <p style="margin-left:.5in"><span style="font-size:small"><span style="font-family:arial">+ Đơn đặt hàng sau 17h30 thì chúng tôi sẽ liên hệ vào sáng hôm sau.</span></span></p>

    <h2><span style="font-size:small"><span style="font-family:arial">- Thời gian giao hàng:</span></span></h2>

    <p style="margin-left:.5in"><span style="font-size:small"><span style="font-family:arial">+ Giao hàng trong ngày hoặc từ 1 - 2 ngày cho khách hàng có địa chỉ ở các quận nội thành Thành phố Hà Nội và các tỉnh lân cận.</span></span></p>

    <p style="margin-left:.5in"><span style="font-size:small"><span style="font-family:arial">+ Giao hàng từ 2 – 5 ngày cho khách hàng có địa chỉ ở các tỉnh xa, miền Trung và miền Nam.</span></span></p>

    <p style="margin-left:.5in"><span style="font-size:small"><span style="font-family:arial">+ Tuy nhiên, vào thời gian cao điểm (lễ, tết…) chúng tôi không thể giao hàng ngay nên sẽ thỏa thuận thời gian giao hàng cho Quý khách. Kính mong Quý khách thông cảm!</span></span></p>

    <p><span style="font-size:small"><span style="font-family:arial">Trước khi giao hàng chúng tôi sẽ gọi điện xác nhận rằng hàng hóa của Quý khách đang được chuyển đi. Hàng sẽ đến tận tay Quý khách trong vòng từ 1 đến 5 ngày (trừ ngày lễ và chủ nhật).</span></span></p>

    <p><span style="font-size:small"><span style="font-family:arial">Chúng tôi đảm bảo giao hàng trong vòng 24 - 48h (kể cả thứ 7 và Chủ Nhật) trong nội thành Hà Nội. Việc giao hàng sẽ được tiến hành ngay khi chúng tôi xác nhận được giao dịch. Nếu trong đợt giao hàng đầu tiên Quý khách không có mặt, chúng tôi sẽ gửi email (hoặc gọi điện) đến Quý khách để sắp xếp thời gian giao hàng khác thuận tiện hơn. Nếu đợt giao hàng thứ hai bị hoãn với cùng lý do, Quý khách sẽ đến kho hàng của chúng tôi để nhận hàng trong thời gian hoạt động từ 8h30 đến 21h30.</span></span></p>

    <p><span style="font-size:small"><span style="font-family:arial">&nbsp;</span></span><span style="font-size:small"><span style="font-family:arial">Tuy hiếm xảy ra nhưng nếu quý khách phát hiện sản phẩm bị khiếm khuyết hay thiếu sản phẩm trong đơn hàng, Quý khách có thể tham khảo quy định đổi trả hàng hoặc liên hệ với chúng tôi qua số điện thoại (04) 3622 8508 hoặc hotline 0986681189, chúng tôi cam kết sẽ giải quyết sớm nhất cho Quý khách./</span></span></p>

</div>

