
@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}
<br />
<br />
<h2>1. Hướng dẫn chức năng đổi trạng thái đơn hàng</h2>
<br />
<img src="~/Areas/Administrator/Content/huongdan/Quytacdonhang.png" />
<br />
<h2>2. Hướng dẫn chức năng xuất file pdf</h2>
<video controls="controls">
    <source src="~/Areas/Administrator/Content/huongdan/ExportP.mp4" type="video/mp4" />
</video>
<br />
<br />
<h2>3. Hướng dẫn chức năng xuất file pdf của chi tiết đơn hàng</h2>
<video controls="controls">
    <source src="~/Areas/Administrator/Content/huongdan/EXportOrder.mp4" type="video/mp4" />
</video>
<br />
<br />
<h2>4. Hướng dẫn chức năng của đồng hồ</h2>
<video controls="controls">
    <source src="~/Areas/Administrator/Content/huongdan/Watch.mp4" type="video/mp4" />
</video>
<br />